<p id="notice"><%= notice %></p>

<p>
  <strong>Billing:</strong>
  <%= @order.billing %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @order.shipping %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
